/* Common nav styles */
.nav-wrapper {
    min-height: 190px;
    background-color: #11122b;
    color: #cbcbcb;
    /* Flexbox container */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5vw;
    flex-wrap: wrap;
}

/* Navigation Left Column */
.nav-wrapper > .left-column {
    display: flex;
    align-items: center;
}

.nav-wrapper > .left-column .icon {
    margin-right: 15px;
}

.nav-wrapper > .left-column > .icon span {
    font-size: 2em;
}

.nav-wrapper > .left-column > .contact-hour-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.nav-wrapper > .left-column > .contact-hour-wrapper > .hour {
    font-family: "Ubuntu Condensed", sans-serif;
    color: #858585;
    font-size: 0.8em;
}


/* Navigation Center Column */
.nav-wrapper > .center-column > .link-wrapper > .nav-link a {
    font-family: "Ubuntu Condensed", sans-serif;
    color: aliceblue;
}

.nav-wrapper > .center-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 42px;
    width: 500px;
}

.nav-wrapper > .center-column > .banner-image {
    display: flex;
    justify-content: center;
}

.nav-wrapper > .center-column > .banner-image img {
    max-width: 216px;
    height: auto;
}

.nav-wrapper > .center-column > .link-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-wrapper > .center-column > .link-wrapper > .nav-link {
    width: 70px;
    text-align: center;

}

.nav-wrapper > .center-column > .link-wrapper > .nav-link a {
    font-family: "Ubuntu Condensed", sans-serif ;
    color: #cbcbcb;
    text-decoration: none;
    transition: 0.5s;
}

.nav-wrapper > .center-column > .link-wrapper > .nav-link a:hover {
    color:#cea135;
    letter-spacing: 2px;
}

/* Navigation Right Column */
.nav-wrapper > .right-column {
    display: flex;
    align-items: center;
}

.nav-wrapper > .right-column .contact-icon {
    margin-left: 15px;
}

.nav-wrapper > .right-column > .contact-icon a span {
    font-size: 2em;
    color: #858585;
    text-decoration: none;
    transition: 0.5s;
}

.nav-wrapper > .right-column > .contact-icon a span:hover {
    color: #cea135;
}

.nav-wrapper > .right-column > .address-wrapper {
    font-family: "Ubuntu Condensed", sans-serif;
    text-align: right;
    
}

.nav-wrapper > .right-column > .address-wrapper a {
    text-decoration: none;
    color: #858585;
    font-size: 0.9em;
    transition: 0.5s;
}

.nav-wrapper > .right-column > .address-wrapper a:hover {
    color: #cea135;
}

